---
import Layout from '../layouts/Layout.astro';
import Tarjeta from '../components/tarjeta.vue';
import Xd from '../components/xd.vue';
---

<Layout title="Welcome to Astro.">
	<div class="px-96 pt-6">
		<div class="">
			<Tarjeta client:load/>
			<Tarjeta client:load/>
			<Tarjeta client:load/>
			<Tarjeta client:load/>
			<Tarjeta client:load/>
			<Tarjeta client:load/>
			<Tarjeta client:load/>
			<Tarjeta client:load/>
		</div>
	</div>
</Layout>

